# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
build
dist
out
.next

# Coverage
coverage

# Production
/build

# Misc
.DS_Store
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
