/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

/* Root variables */
:root {
  /* Colours */
  --primary: #181925;
  --secondary: #f3f3f7;
  --accent-one: #747578;
  --accent-two: #8c9a9e;
  --accent-three: #93b7be;
  --accent-four: #d4f5f5;

  /* Sizing */
  --top-pad: 2rem;
  --side-pad: 4rem;

  /* All rem value are based off of this size */
  font-size: 24px;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Base styles */
html {
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-x: hidden;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;

  color: var(--secondary);
  background-color: var(--primary);
}

/* Scrollbar styling */

/* Media queries */
