#graphs {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  align-items: left;
}

#chart {
  background-color: var(--tertiary);
  width: 600px;
  height: 400px;
  margin-top: 2rem;
}

.card {
  background-color: var(--tertiary);
  padding: 1rem;
  min-width: 15rem;
  min-height: 18rem;
  max-height: 18rem;
  flex: auto;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
