.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0.25rem;

    
}
.play{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;

}
.pause{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.foward{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5rem;
    margin-left: 1.5rem;

}
.backward{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5rem;
    margin-right: 1.5rem;

}