/* Control bar styles */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-height: 2.5rem;
  padding: 1rem 0;
  overflow: hidden;
  transition: all 0.5s linear;
  --highlight-colour: var(--quaternary);
  --button-colour: var(--accent-one);
}

.hide-controls {
  max-height: 0;
  padding: 0;
}

/* Basic button styles */
.buttons > svg {
  height: 2rem;
  width: min-content;
}

.buttons > p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--button-colour);
  user-select: none;
}

/* Colouring buttons */
#play g,
#pause g,
#stop g,
#forward g,
#backward g {
  stroke: var(--button-colour);
}

#pause rect,
#play path,
#stop rect,
#forward path,
#backward path {
  fill: var(--button-colour);
  stroke: var(--button-colour);
}

/* Button hover colouring */

#play:hover > g > g,
#forward:hover > g > g,
#stop:hover > g > g,
#pause:hover > g > g,
#backward:hover > g > g {
  stroke: var(--highlight-colour);
}

#play:hover path,
#backward:hover path,
#stop:hover > g > rect,
#pause:hover > g > rect,
#forward:hover path {
  fill: var(--highlight-colour);
  stroke: var(--highlight-colour);
}
