.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    
}
#play{
    width: 10rem;
    height: 5rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;

}
#pause{
    width: 10rem;
    height: 5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;


}

#foward{
    width: 10rem;
    height: 5rem;
    margin-right: 10rem;
    margin-left: 0.1rem;

}
#backward{
    width: 10rem;
    height: 5rem;
    margin-left: 10rem;
    margin-right: 0.1rem;
    transform: rotate(180deg);
}