.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.app-panel {
  height: 100vh !important;
}

/* .top-section,
.middle-section,
.bottom-section {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  height: 100vh;
} */
.gauge-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dashboard {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* .layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
} */