@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--primary); */
  width: 100%;
  height: 100vh;
  font-family: 'ReadexPro', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #0E0E0E;
  --lighter-background-color: #161616;
  --red-color: #E82127;
  --green-color: #25CB55;
  --yellow-color: #FFBD0A;
  --blue-color: #007BE4;
  --text-color: #FFFFFF;
  --text-dark-color: #8d8d8d;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.06);
  --border-color: rgba(255, 255, 255, 0.1);
  --border-hover: rgba(232, 33, 39, 0.5);
}
