@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../public/fonts/ReadexPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--primary); */
  width: 100%;
  height: 100vh;
  font-family: 'ReadexPro', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  color-scheme: dark;
  --background-color-light: #faf7f7;
  --lighter-background-color-light: #ffffff;
  --text-color-light: #000000;
  --border-color-light: #ece3e3;
  --border-hover-light: rgba(232, 33, 40, 0.768);
  --text-color-secondary-light: #4e3f3f;

  --background-color-dark: #0E0E0E;
  --lighter-background-color-dark: #161616;
  --text-color-dark: #FFFFFF;
  --border-color-dark: rgba(255, 255, 255, 0.1);
  --border-hover-dark: rgba(232, 33, 40, 0.768);
  --text-color-secondary-dark: #8d8d8d;

  --background-color: light-dark(var(--background-color-light), var(--background-color-dark));
  --lighter-background-color: light-dark(var(--lighter-background-color-light), var(--lighter-background-color-dark));
  --text-color: light-dark(var(--text-color-light), var(--text-color-dark));
  --border-color: light-dark(var(--border-color-light), var(--border-color-dark));
  --border-hover: light-dark(var(--border-hover-light), var(--border-hover-dark));
  --text-color-secondary: light-dark(var(--text-color-secondary-light), var(--text-color-secondary-dark));

  --red-color: #E82127;
  --green-color: #25CB55;
  --yellow-color: #FFBD0A;
  --blue-color: #007BE4;

  --shadow-small: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.06);
}


.light-mode {
  color-scheme: light;
}